<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Capi
      </a>
    </div>
    <ul class='nav navbar-nav navbar-right'>
        <li>
        <% if user_signed_in? %> 
            <li><a href='#'>Welcome back <%= current_user.email %></a></li>
            <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></a></li>
        <% else %>
            <li><%= link_to('Sign In', new_user_session_path) %></li>
            <li><%= link_to('Register', new_user_registration_path) %></a></li>
        <% end %>
        
    </ul>
  </div>
</nav>